body{   
    background-image: url("https://blog.laminasyaceros.com/hubfs/The-Simpsons.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-footer {
 
    background-color: rgba(10, 10, 10, 0.46);
    color: white;    
    padding: 5px;
    margin-top: 10px;
}


body {
    display: flex;
    flex-direction: column;    
}